
/*OK---------------------------------------------------------------------------------------------- TOUT -----------------------------------------------------------------------------------------------------------------------------------*/
#navbar
{
	color: white;
	background-color: #111;
	padding: 50px;
	transition: 0.4s;
	position: fixed;	
	width: 100%;
	top: 0;
	z-index: 99;
}

span:hover
{
	color: #F71818;
}

/*OK--------------------------------------------------*/
#titre
{
	text-align: center;
	font-size: 35px;
	transition: 0.4s;
}

/*OK---------------------------------------------------*/
#page
{
	word-wrap: break-word;
}

/*OK---------------------------------------------------*/
.sidenav
{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  word-wrap: normal;
}

.sidenav a
{
  text-align: center;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover
{
  color: #F71818;
  text-decoration: none;
}

.sidenav .closebtn
{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;

}

/*OK---------------------------------------------------*/

#main
{
  transition: margin-left .5s;
}


/*OK---------------------------------------------------------------------------------------------- INDEX.HTML ------------------------------------------------------------------------------------------------------------------------------*/
#intro
{
	text-align: center;
	background-color: white;
	color: #111;
	margin: auto;
	margin-top: 100px;
	width: 60%;
	padding: 50px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#profil
{
	position: absolute;
	text-align: left;
	width: 270px;
	transition: 0.4s;
}

#photo
{
	width: 270px;
	height: 330px;
	border-radius: 20px;
	transition: 0.4s;
}

/*OK--------------------------------------------------*/
.user_profil
{
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  background-color: grey;
  float: right;
}

/*OK--------------------------------------------------*/
.user_profil_card
{
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  background-color: grey;
  float: left;
}

/*OK--------------------------------------------------*/
.photo-de-profil
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*OK---------------------------------------------------*/
.detail
{
	text-align: center;
	margin-top: 60px;
	display: inline-block;
}

.detail p
{
	color: black;
}

.detail b
{
	color: black;
}

/*OK--------------------------------------------------*/
.coeur
{
	width: 50px;
}

.comment
{
	width: 50px;
}

.button-coeur
{
	border-radius: 20px;
  background-color: white; 
  color: black; 
  border-style: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-comment
{
	border-radius: 20px;
  background-color: white; 
  color: black; 
  border-style: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/*OK---------------------------------------------------*/
#Titre
{
	transition: 0.4s;
	text-align: center;
	background-color: white;
	color: #111;
	margin: auto;
	margin-top: 150px;
	width: 100%;
	padding: 50px;
	box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.2);
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
